<div class="container">
  <div class="row">
    <!--bootstrap tip - to center set an offset equal to half of the remaining size of the row-->
    <ul class="list-group col-md-6 col-md-offset-3">
      <a class="list-group-item" ng-repeat="img in hc.images track by $index" href="#/fullsize/{{img.id}}">
        <h5 class="list-group-item-heading">
          <span class="title accented"> {{img.title}}</span>
          <span class="year"> ({{img.year}})</span>
        </h5>
        <p class="list-group-item-text">{{img.description}}</p>
      </a>
    </ul>
  </div>
</div>
