<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <figure class="figure center-block">
        <img class="figure-img img-fluid" ng-src="{{fullsizeCtrl.image.url}}" alt="fullsizeCtrl.image.title">
        <figcaption class="figure-caption text-right">
          <p class="quote"><i>‘{{fullsizeCtrl.image.quote}}’</i></p>
          <a class="title accented" href={{fullsizeCtrl.image.imdb}}>
            {{fullsizeCtrl.image.title}}
          </a>
          <span class="year"> ({{fullsizeCtrl.image.year}})</span>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
